*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
 }
 
body{
    color: #f4f2ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center__display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .top{
    position: relative;
    border-bottom: 1px solid #eee;
}


.top .likes__count{
    position: absolute;
    left: 0;
    margin-top: 12px;
    background: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    flex-direction: row;
}

.likes__count small{
    font-size: 20px;
    margin-left: 5px;
}

.fas{
    color: #0056f7f6;
}

.far{
    color: #0056f7f6;
}
.top .likes__icon{
    font-size: 30px;
    cursor: pointer;
    margin: 15px;
    flex-direction: row;
    
}

.comment__bottom .likes__icon--comment{
    font-size: 20px;
    margin-right: 20px;
    color: #eee;
}


.top video{
    object-fit: fill;
}

form{
    display: grid;
    width: 100%;
    /* height: 80px; */
    /* grid-template-columns: 10% 80% 10%; */
}

.form__info input{
    border: none;
    background: transparent;
    width: 70%;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
}

.form__info input::placeholder{
    color: #ddd;
}



.top button{
    background-color: #48cae4;
    height: 50%;
    border: none;
    outline: none;
    color: white;
    transform: translateY(50%);
    margin-right: 10px;
    cursor: pointer;
}

/* COMMENTS */
.comments__container{
    width: 800px;
    margin-top: 2rem;
}

.comment__card{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0.5rem;
    border-bottom: 1px solid #eee;
}

.comment__card .pic{
    background-color: #48cae4;
    border-radius: 50%;
    margin: 10%;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.comment__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment__info .nickname{
    color: #aaa;
}
.comment{
    color: #868282;
}
.comment__info .comment{
    margin: 5px 0;
}

.comment__info .comment__bottom{
    display: flex;
}





.comment__bottom button{
    border: none;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    cursor: pointer;
}